body {
    margin: 0;
}

main {
    font-family: Inter;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #fff;
    color: #000;
    padding: 10px 0;
    text-align: center;
    height: 88px;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
    padding: 32px 0;
    padding-left: 32px; 
}

.menu-link {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.content-block {
    width: 100%;
    height: 35vh;
    background-color: #00BDC9; 
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-block img {
    max-width: 80%;
    max-height: 80%;
}


.content-div {
    max-width: 40%;
    margin: 10px auto;
    background-color: #ffffff;
    padding: 20px;
}
.content-div h2 {
    text-align: center;
    font-size: 48px;
}

.content-div p {
    font-family: Inter;
    font-size: 21px;
    line-height: 31px;
    font-weight: Bold;
}

.content-div ol {
    font-size: 18px;
    line-height: 27px;
}

.button-div {
    text-align: center;
    margin-top: 10px;
}


.button-div button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #00BDC9;
    color: #fff; 
    border: none; 
    font-family: Inter;
}

footer {
    background-color: #fff;
    color: #000;
    text-align: center;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    font-family: Inter;
}
